@use "@styles/partials/global" as *;

// @rel/../SiteHeader.scss

.site-logo {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-text);

  @include breakpoint-up(md) {
    font-size: 1.5rem;
  }

  // --shared ----------------------------------------

  // --interaction -----------------------------------
  @at-root & {
    > a {
      &:hover {
        color: var(--color-primary);
      }
    }
  }
}
