@use "global" as *;

/* ------------------------
  Base Settings
------------------------ */
// This file should contain base element styles.
// Apply typography, colors, and default styles to HTML elements.

html {
  font-size: 100%;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
