@use "@styles/partials/global" as *;

// @rel/../HeroSection.scss

.hero-title {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: bold;
  color: #fff;
  text-align: center;

  @include breakpoint-up(md) {
    font-size: clamp(2.5rem, 6vw, 3.5rem);
  }

  // --shared ----------------------------------------

  // --interaction -----------------------------------
  // @at-root & {
  // }
}
