// Global styles (reset/base/utilities/tokens)
@use "@styles/partials/variables";
@use "@styles/partials/reset";
@use "@styles/partials/base";
@use "@styles/partials/utilities";
@use "@styles/partials/keyframes";
