@use "@styles/partials/global" as *;

// Component styles are scoped in Vue SFCs.

.main-container {
  min-height: 100vh;
  background-color: var(--color-bg);

  > .site-header {
    // @common/SiteHeader/SiteHeader.scss
    z-index: 100;
  }

  > .hero-section {
    // @pages/home/HeroSection/HeroSection.scss
    margin-top: 0;
  }

  > .card-list {
    // @parts/CardList/CardList.scss
    margin-top: 3.75rem;

    @include breakpoint-up(md) {
      margin-top: 5rem;
    }
  }

  > .site-footer {
    // @common/SiteFooter/SiteFooter.scss
    margin-top: 4rem;
  }
}
